In [16]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import folium

In [ ]:
#df = pd.read_csv('Ulst6Jan87.csv')

In [ ]:
#Historic_Gravity = gpd.GeoDataFrame(df[['id', 'OBS (mgal)']], # Only display the ID for each point along with the gravity value in Milligal
                            #geometry=gpd.points_from_xy(df['LONG'], df['LAT']), # set the geometry using points_from_xy
                            #crs='epsg:4326') # set CRS as WGS84 lat/lon

df = pd.read_csv('Ulst6Jan87.csv')
df.head()
df['geometry'] = list(zip(df['LONG'], df['LAT'])) 
df['geometry'] = df['geometry'].apply(Point) 
gdf = gpd.GeoDataFrame(df)
gdf = gdf.set_crs("EPSG:4326") #The source data geometry is EPSG 2157 (Irish Transverse Mercator)
#gdf.to_file('lake_points.shp') #As with the first dataset, I wish to create a shapefile

In [ ]:
Historic_Gravity.head() #sanity check

In [ ]:
gdf.crs

In [ ]:
AbsoluteGravity.head #Sanity check - note CRS is EPSG 29903

In [ ]:
gdf = gpd.GeoDataFrame(df)

In [24]:
df = pd.read_csv('OSNIAbsoluteGravity.csv')

In [25]:
df.head()

,Unnamed: 0,Station Name,GNSS Observation Date,Easting,Northing,Elevation,Easting.1,Northing.1,Unnamed: 8,latitude,longitude,Altitude
0,1,Cushendall,27/02/2020,724301.9337,927608.7551,1.100000,324377,427624,NaN,55-4-49.235970N,6-3-11.641755W,57.076594
1,2,Bangor,09/03/2020,750484.3709,882233.5231,4.671654,350564,382238,NaN,54-39-56.749041N,5-40-1.846710W,60.425980
2,3,Belfast,24/08/2022,733995.2420,876707.6150,15.452000,334072,376711,NaN,54-37-14.868064N,5-55-30.456762W,71.575989
3,3,Belfast IGSN71,24/08/2022,736473.4086,876421.7018,1.760000,336551,376426,NaN,54-37-3.238087N,5-53-12.894233W,57.839865
4,4,Moneymore,11/03/2020,685772.5538,883608.0075,53.296145,285839,383613,NaN,54-41-35.775369N,6-40-10.307837W,110.195640

In [26]:
del df['Easting.1'], df['Northing.1'], df['Unnamed: 8'], df['latitude'], df ['longitude'] #These attributions are confusing

In [27]:
df.head() yet another sanity check

,Unnamed: 0,Station Name,GNSS Observation Date,Easting,Northing,Elevation,Altitude
0,1,Cushendall,27/02/2020,724301.9337,927608.7551,1.100000,57.076594
1,2,Bangor,09/03/2020,750484.3709,882233.5231,4.671654,60.425980
2,3,Belfast,24/08/2022,733995.2420,876707.6150,15.452000,71.575989
3,3,Belfast IGSN71,24/08/2022,736473.4086,876421.7018,1.760000,57.839865
4,4,Moneymore,11/03/2020,685772.5538,883608.0075,53.296145,110.195640

In [36]:
df['geometry'] = list(zip(df['Easting'], df['Northing'])) 
df['geometry'] = df['geometry'].apply(Point) 
gdf = gpd.GeoDataFrame(df)
gdf = gdf.set_crs("EPSG:2157") #This was a later addition, I was slow to realise

In [37]:
gdf.crs

<Projected CRS: EPSG:2157>
Name: IRENET95 / Irish Transverse Mercator
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Ireland - onshore. United Kingdom (UK) - Northern Ireland (Ulster) - onshore.
- bounds: (-10.56, 51.39, -5.34, 55.43)
Coordinate Operation:
- name: Irish Transverse Mercator
- method: Transverse Mercator
Datum: IRENET95
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [38]:
gdf = gdf.to_crs("EPSG:4326") #The source data geometry is EPSG 2157 (Irish Transverse Mercator)
#gdf.to_file('lake_points.shp') #As with the first dataset, I wish to create a shapefile

In [39]:
gdf.crs # Sanity check after changing CRS

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [40]:
gdf.head()

,Unnamed: 0,Station Name,GNSS Observation Date,Easting,Northing,Elevation,Altitude,geometry
0,1,Cushendall,27/02/2020,724301.9337,927608.7551,1.100000,57.076594,POINT (-6.05323 55.08034)
1,2,Bangor,09/03/2020,750484.3709,882233.5231,4.671654,60.425980,POINT (-5.66718 54.66576)
2,3,Belfast,24/08/2022,733995.2420,876707.6150,15.452000,71.575989,POINT (-5.92513 54.62080)
3,3,Belfast IGSN71,24/08/2022,736473.4086,876421.7018,1.760000,57.839865,POINT (-5.88692 54.61757)
4,4,Moneymore,11/03/2020,685772.5538,883608.0075,53.296145,110.195640,POINT (-6.66953 54.69327)