In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import folium

In [2]:
df = pd.read_csv('OSNIAbsoluteGravity.csv') #Absolute Gravity Data
AbsGravData = gpd.GeoDataFrame(df['Station Name'], #Keep only Station Name
                            geometry=gpd.points_from_xy(df['Easting'], df['Northing']),crs='epsg:2157') #Source data is Irish Transverse Mercator

In [3]:
AbsGravData.head()

     Station Name                       geometry
0      Cushendall  POINT (724301.934 927608.755)
1          Bangor  POINT (750484.371 882233.523)
2         Belfast  POINT (733995.242 876707.615)
3  Belfast IGSN71  POINT (736473.409 876421.702)
4       Moneymore  POINT (685772.554 883608.007)

In [4]:
AbsGravData.to_crs ("EPSG:4326")

      Station Name                   geometry
0       Cushendall  POINT (-6.05323 55.08034)
1           Bangor  POINT (-5.66718 54.66576)
2          Belfast  POINT (-5.92513 54.62080)
3   Belfast IGSN71  POINT (-5.88692 54.61757)
4        Moneymore  POINT (-6.66953 54.69327)
5           Armagh  POINT (-6.65080 54.35340)
6        Lisnarick  POINT (-7.71416 54.46825)
7           Kilcoo  POINT (-6.03095 54.23169)
8    Newtonstewart  POINT (-7.37436 54.71511)
9      Londonderry  POINT (-7.32834 55.00019)
10        Portrush  POINT (-6.65315 55.20074)

In [7]:
m = AbsGravData.explore('Station Name', marker_type='marker', popup=True, legend=False,)

In [8]:
Ab_buffer = AbsGravData.buffer(5)

In [ ]:
Ab_buffer.explore('Station Name', cmap='viridis',m=m)