In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import folium

In [2]:
df = pd.read_csv('OSNIAbsoluteGravity.csv') #Absolute Gravity Data
AbsGravData = gpd.GeoDataFrame(df['Station Name'], #Keep only Station Name
                            geometry=gpd.points_from_xy(df['Easting'], df['Northing']),crs='epsg:2157') #Source data is Irish Transverse Mercator

In [3]:
AbsGravData.head()

     Station Name                       geometry
0      Cushendall  POINT (724301.934 927608.755)
1          Bangor  POINT (750484.371 882233.523)
2         Belfast  POINT (733995.242 876707.615)
3  Belfast IGSN71  POINT (736473.409 876421.702)
4       Moneymore  POINT (685772.554 883608.007)

In [4]:
AbsGravData.to_crs ("EPSG:4326")

      Station Name                   geometry
0       Cushendall  POINT (-6.05323 55.08034)
1           Bangor  POINT (-5.66718 54.66576)
2          Belfast  POINT (-5.92513 54.62080)
3   Belfast IGSN71  POINT (-5.88692 54.61757)
4        Moneymore  POINT (-6.66953 54.69327)
5           Armagh  POINT (-6.65080 54.35340)
6        Lisnarick  POINT (-7.71416 54.46825)
7           Kilcoo  POINT (-6.03095 54.23169)
8    Newtonstewart  POINT (-7.37436 54.71511)
9      Londonderry  POINT (-7.32834 55.00019)
10        Portrush  POINT (-6.65315 55.20074)

In [7]:
m = AbsGravData.explore('Station Name', marker_type='marker', popup=True, legend=False,)

In [14]:
Ab_buffer = AbsGravData.buffer(5)

In [ ]:
Ab_buffer

In [ ]:
Ab_buffer.head()

0    POLYGON ((724306.934 927608.755, 724306.910 92...
1    POLYGON ((750489.371 882233.523, 750489.347 88...
2    POLYGON ((734000.242 876707.615, 734000.218 87...
3    POLYGON ((736478.409 876421.702, 736478.385 87...
4    POLYGON ((685777.554 883608.007, 685777.530 88...
dtype: geometry

In [19]:
Ab_buffer.to_crs ("EPSG:4326")

0     POLYGON ((-6.05316 55.08034, -6.05316 55.08034...
1     POLYGON ((-5.66710 54.66576, -5.66710 54.66576...
2     POLYGON ((-5.92505 54.62080, -5.92505 54.62079...
3     POLYGON ((-5.88684 54.61756, -5.88684 54.61756...
4     POLYGON ((-6.66945 54.69327, -6.66945 54.69327...
5     POLYGON ((-6.65072 54.35340, -6.65072 54.35339...
6     POLYGON ((-7.71409 54.46825, -7.71409 54.46825...
7     POLYGON ((-6.03087 54.23168, -6.03087 54.23168...
8     POLYGON ((-7.37428 54.71511, -7.37428 54.71510...
9     POLYGON ((-7.32826 55.00018, -7.32826 55.00018...
10    POLYGON ((-6.65307 55.20074, -6.65307 55.20073...
dtype: geometry

In [ ]:
Ab_buffer.explore(color="crimson",m=m)